<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link href="../css/purchase.2012.css?v=201410141639" th:href="@{/css/purchase.2012.css}" rel="stylesheet"
          type="text/css">
    <title>我的购物车 - tinyJD</title>
    <script>
        var pageConfig = {};
    </script>
<body>
<!--shortcut start-->
<div th:replace="commons/shortcut::shortcut"></div>
<!--shortcut end-->
<div class="w w1 header clearfix">
    <div id="logo"><a href="http://search.gmall.com:8083/index"><img clstag="clickcart|keycount|xincart|logo" src="./images/logo.png" width="100px" height="70px" title="返回易购商城首页"
                                    alt="返回易购商城首页"></a></div>
    <div class="language"><a href="javascript:void(0);" onclick="toEnCart()"></a></div>
    <div class="progress clearfix">
        <ul class="progress-1">
            <li class="step-1"><b></b>1.我的购物车</li>
            <li class="step-2"><b></b>2.填写核对订单信息</li>
            <li class="step-3">3.成功提交订单</li>
        </ul>
    </div>
</div>
<div class="w cart">
    <div class="cart-hd group">
        <h2>我的购物车</h2>
    </div>
    <div id="show">

        <div class="cart-frame">
            <div class="tl"></div>
            <div class="tr"></div>
        </div>
        <div th:replace="cartInner"></div>
    </div>
</div>
<!--推荐位html修改处-->


<script type="text/javascript" th:src="@{/js/base-v1.js}"></script>
<!-- footer start -->
<div th:replace="commons/footer::footer"></div>
<!-- footer end -->

<!-- 购物车相关业务 -->
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.price_format.2.0.min.js}"></script>
<script type="text/javascript" src="../js/jquery-1.6.4.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script>
    $(function () {
       $("#toggle-checkboxes_up").attr("checked", "false");
       $("#toggle-checkboxes_down").attr("checked", "false");


        $(".cart-inner").css("border-top", "0px solid white");
        $(".cart-inner").css("border", "0px solid white");

        $.ajax({
            url : 'http://passport.gmall.com:8085/getUserInfo',
            type : "GET",
            async : false,
            dataType : "jsonp",
            jsonpCallback : "jsonpCallback",//自定义的jsonp回调函数名,默认为jQuery自动生成的随机函数
            jsonp : "callback",//传递给请求处理程序或页面的,用以获得jsonp回调函数名的参数名(默认为callback)
            success : function(data) {
                /*console.log(data);
                console.log(data.name);
                alert("服务器连接成功 ajax"+data);*/
                if (data.username) {
                    var html = "<a href='http://order.gmall.com:8086/toTrade' class=''>" + data.username + "</a>" +
                        " <a href='http://passport.gmall.com:8085/logout?returnUrl=http://search.gmall.com:8083/index'>退出登录</a>";
                    $("#loginbar").html(html);
                }
            },
            error : function(data) {
                /*console.log(data);
                console.log(data.name);
                alert("服务器连接失败 ajax"+data);*/
            }
        });

    });

    function change(skuId, checked) {
        var isCheckedFlag = "1";
        if (checked) {
            isCheckedFlag = "0";
        }
        $.post({
            url: "http://cart.gmall.com:8084/checkCart",
            data: {
                "isCheck": isCheckedFlag,
                "skuId": skuId
            },
            success: function(html) {
                $("#cartListInner").html(html);
            }
        });
    }

    function sumPrice() {

    }

</script>
</body>
</html>