<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="cartListInner" class="cart-inner" th:fragment="cartInner" style="width: 100%">
    <div class="cart-thead clearfix">
        <div class="column t-checkbox form"><input data-cart="toggle-cb" name="toggle-checkboxes"
                                                   id="toggle-checkboxes_up" type="checkbox" checked="false"
                                                   value=""><label for="toggle-checkboxes_up">全选</label></div>
        <div class="column t-goods">商品</div>
        <div class="column t-price">易购价</div>
        <div class="column t-promotion">优惠</div>
        <div class="column t-inventory">库存</div>
        <div class="column t-quantity">数量</div>
        <div class="column t-action">操作</div>
    </div>
    <div id="product-list" class="cart-tbody">
        <!-- ************************商品开始********************* -->
        <div id="product_11345721" data-bind="rowid:1" class="item item_selected "
             th:each=" cart : ${cartList}">
            <div class="item_form clearfix">
                <div class="cell p-checkbox"><input data-bind="cbid:1" class="checkbox" type="checkbox"
                                                    name="checkItem" th:checked="${cart.isChecked == '1'}"
                                                    th:value="${cart.productSkuId }" th:onchange="'change(' + ${cart.productSkuId } + ',' + ${cart.isChecked == '1'} + ')'"></div>
                <div class="cell p-goods">
                    <div class="p-img">
                        <a th:href="@{'http://localhost:8082/' + ${cart.productSkuId } + '.html'}" target="_blank">
                            <img clstag="clickcart|keycount|xincart|p-imglistcart" th:src="@{${cart.productPic}}"
                                 th:alt="${cart.productName}" width="52" height="52">
                        </a>
                    </div>
                    <div class="p-name">
                        <a th:href="@{'http://localhost:8082/' + ${cart.productSkuId } + '.html'}"
                           clstag="clickcart|keycount|xincart|productnamelink"
                           target="_blank" th:text="${cart.productName}"></a>
                        <span class="promise411 promise411_11345721" id="promise411_11345721"></span>
                    </div>
                </div>
                <div class="cell p-price"><span class="price" th:text="'¥' + ${cart.price}"></span>
                </div>
                <div class="cell p-promotion">
                </div>
                <div class="cell p-inventory stock-11345721">有货</div>
                <div class="cell p-quantity" for-stock="for-stock-11345721">
                    <div class="quantity-form" data-bind="">
                        <a href="javascript:void(0);" class="decrement"
                           clstag="clickcart|keycount|xincart|diminish1" id="decrement"
                           onclick="javascript: var count = $('#changeQuantity-11345721-1-1-0').val(); if (count > 1) count -= 1;$('#changeQuantity-11345721-1-1-0').val(count);">-</a>
                        <input type="text" class="quantity-text"
                               th:attr="itemPrice='${cart.price}',itemId='${cart.productPic}'"
                               th:value="${cart.quantity }" id="changeQuantity-11345721-1-1-0">
                        <a href="javascript:void(0);" class="increment"
                           clstag="clickcart|keycount|xincart|add1" id="increment"
                           onclick="javascript: var count = parseInt($('#changeQuantity-11345721-1-1-0').val()); if (count < 200) count += 1;$('#changeQuantity-11345721-1-1-0').val(count);">+</a>
                    </div>
                </div>
                <div class="cell p-remove"><a id="remove-11345721-1" data-more="removed-87.20-1"
                                              clstag="clickcart|keycount|xincart|btndel318558"
                                              class="cart-remove mycart_remove"
                                              href="/cart/delete/${cart.id}.action">删除</a>
                </div>
            </div>
        </div>

    </div><!-- product-list结束 -->
    <div class="cart-toolbar clearfix">
        <div class="total fr">
            <p><span class="totalSkuPrice" th:text="'¥' + ${totalPrice}"></span>总计：
            </p>
            <p><span id="totalRePrice">- ¥0.00</span>优惠：</p>
        </div>
        <div class="amout fr"><span id="selectedCount">1</span> 件商品</div>
    </div>
    <div class="ui-ceilinglamp-1" style="width: 988px; height: 49px;">
        <div class="cart-dibu ui-ceilinglamp-current" style="width: 988px; height: 49px;">
            <div class="control fdibu fdibucurrent">
              <span class="column t-checkbox form">
                  <input data-cart="toggle-cb" name="toggle-checkboxes" id="toggle-checkboxes_down" type="checkbox"
                         checked="fasle" value="" class="jdcheckbox">
                  <label for="toggle-checkboxes_down">
                          全选
                  </label>
              </span>
                <span class="delete">
                  <b>
                  </b>
                  <a href="javascript:void(0);" clstag="clickcart|keycount|xincart|clearcartlink" id="remove-batch">
                          删除选中的商品
                  </a>
              </span>
                <span class="shopping">
                  <b>
                  </b>
                  <a href="/" target="_blank" clstag="clickcart|keycount|xincart|coudanlink" id="continue">继续购物</a>
              </span>
            </div>
            <div class="cart-total-2014">
                <div class="cart-button">
                  <span class="check-comm-btns" id="checkout-jd">
                      <a class="checkout" href="http://order.gmall.com:8086/toTrade"
                         clstag="clickcart|keycount|xincart|gotoOrderInfo" id="toSettlement">去结算<b></b></a>
                  </span>
                    <span class="combine-btns" style="display:none">
                        <span class="fore1" style="display: none;">
                          <a href="" class="combine-btn">不支持合并付款</a>
                      </span>
                      <span class="fore2 hide" style="display: inline;">
                          <a href="javascript:goToOverseaOrder();" class="checkout-jdInt">去易购国际结算<b></b></a>
                          <a href="javascript:goToOrder();" class="checkout-jd">去易购结算<b></b></a>
                      </span>
                  </span>
                </div>
                <div class="total fr">
                    总计（不含运费）：
                    <span class="totalSkuPrice" th:text="'¥' + ${totalPrice}"></span>
                </div>
            </div>
        </div>
    </div>
</div><!-- cart-inner结束 -->
</body>
</html>