<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<div id="shortcut-2013" th:fragment="shortcut">
    <div class="w">
        <ul class="fl lh">
            <li class="fore1 ld" clstag="homepage|keycount|home2013|01a"><b></b><a href="http://localhost:8083/index"
                                                                                   rel="nofollow">主页</a></li>
        </ul>
        <ul class="fr lh">
            <li class="fore1" id="loginbar" clstag="homepage|keycount|home2013|01b"><a id="login"
                    href="javascript:0;">您好，请登录</a>&nbsp;<a href="javascript:regist()" style="color: red">免费注册</a></li>
            <li class="fore2 ld" clstag="homepage|keycount|home2013|01c">
                <s></s>
                <a href="http://jd2008.jd.com/JdHome/OrderList.aspx" rel="nofollow">我的订单</a>
            </li>
        </ul>
        <span class="clr"></span>
    </div>
</div>
</body>
</html>